{% extends "forms/baseForm.html" %}

{% block title %}
    <h1>ログイン</h1>
{% endblock %}

{% block content %}
    {% from "forms/_formhelpers.html" import render_field %}   <!--_formhelpers.htmlからrender_field関数を使うためインポート-->
    <form method="POST" novalidate>     <!--app.pyのPOSTのため-->
        {{ form.csrf_token }}     <!--csrf攻撃対策としてトークンを使う。-->
        {{ render_field(form.name) }}     <!--formはapp.pyのrender_template内にあるform-->
        {{ render_field(form.password) }}
        
        <br>
        {{ form.submit() }}  
        <a href="{{ url_for('touroku') }}">登録していない方はこちらへ</a>
    </form>
{% endblock %}